- @title = 'Вход'
= form_tag sessions_path, class: 'form-horizontal' do
	%fieldset
		.control-group
			%label.control-label Логин
			.controls
				= text_field_tag :username, params[:username], { class: :xlarge }
		.control-group
			%label.control-label Пароль
			.controls
				= password_field_tag :password, params[:password], { class: :xlarge }
		.control-group
			.controls
				%label.checkbox
					= check_box_tag :forget_me, params[:forget_me]
					Не запоминать

		.form-actions
			= submit_tag 'Войти', class: 'btn btn-primary'

= render partial: 'layouts/password_reset'