- @title = "Регистрация"
= form_for @user do |f|
	%fieldset

		- if @user.errors.any?
			.alert-message.block-message.error
				%ul
					- @user.errors.full_messages.each do |e|
						%li= e

		.clearfix
			%label Логин на форумах
			.input
				= f.text_field :username, { :class => :xlarge }
		.clearfix
			%label Пароль
			.input
				= f.password_field :password, { :class => :xlarge }
		.clearfix
			%label Повторите пароль
			.input
				= f.password_field :password_confirmation, { :class => :xlarge }
		%fieldset
			%legend Ваши аккаунты на порталах
			= f.fields_for :user_portal_accounts do |r|
				= r.hidden_field :portal_id, :value => r.object.portal.id
				.clearfix
					%label= r.object.portal.name
					.input= r.text_field :username, { :class => :xlarge }

		.actions
			= f.submit "Сохранить", :class => "btn primary"