%li[game]
	.title
		- if logged_in? and game.user == current_user
			= link_to image_tag(asset_path("edit.png"), :width => 18, :height => 18), edit_game_path(game), :class => "edit", :title => "редактировать"
		= link_to game.name, game
		= render game.requests
	.info
		%span.username
			#{game.user.username} (#{game.user.points})
		%span.votes
			поддержало: #{game.voters.count}
