- @title = "Добавить игру"
- if current_user.points >= 0
	= form_for @game do |f|
		%fieldset

			- if @game.errors.any?
				.alert-message.block-message.error
					%ul
						- @game.errors.full_messages.each do |e|
							%li= e


			.clearfix
				%label Название
				.input= f.text_field :name, { :class => :xlarge }
			= f.fields_for :requests do |r|
				= r.hidden_field :portal_id, :value => r.object.portal.id
				.clearfix
					%label= r.object.portal.name
					.input= r.text_field :url, { :class => :xlarge }
			.actions
				= f.submit "Сохранить", :class => "btn primary"