- @title = @game.name

%p
  %strong Разместил:
  #{@game.user.username} (#{@game.user.points})
%p
  %strong Игра на порталах:
  = render @game.requests

%p
  %strong Всего голосов:
  #{@game.user_votes.count} от #{@game.voters.count} камрадов