!!!
%html
	%head
		%title Сообщество плюсовиков
		= stylesheet_link_tag    "application"
		= javascript_include_tag "application"
		= csrf_meta_tags

	%body

		.topbar
			.fill
				.container
					%a.brand{ :href=> root_url } FGR[beta]
					%ul.nav
						%li.active
							= link_to "Домой", root_url
						%li
							= link_to "Добавить", new_game_path
					- if logged_in?
						.pull-right
							%ul
								%li= link_to "#{current_user.username} (#{(current_user.points)})", current_user
								%li= link_to "выйти", sign_out_path
					- else
						= form_tag sessions_path, :class => "pull-right" do
							= text_field_tag :username, params[:username], :placeholder => "Логин", :class => "input-small"
							= password_field_tag :password, params[:password], :placeholder => "Пароль", :class => "input-small"
							= button_tag "Войти", :name => "commit", :type => "submit", :class => "btn primary"
							= link_to "Регистрация", sign_up_path, :class => "btn"

		.container
			.content
				.page-header
					%h1= @title || "Заголовок"

				- flash.each do |key, value|
					.alert-message{ :class => key }
						%p
							%strong= value
				.row
					.span10
						= yield
					.span4
						%h3 Лучшие плюсовики
						%ul
							- User.profile.best.each do |u|
								%li #{u.username} (#{u.points})

			%footer
				%p &copy; FlashGameRatings #{Time.now.year}